section {
    .section__ocp-img {
        display: flex;
        justify-content: center;
        margin-top: 100px;


    }

    .section__carb {
        text-align: center;

        .sec__paket {
            padding-bottom: 70px;

        }

        .section__text-grand {
            color: #333D4B;
            text-align: center;
            font-family: Fraunces 9pt;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 32px;
            margin-bottom: 24px;

        }
        .section__text-light {
            color: #333D4B;
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            /* 162.5% */
        }

    }

}



/* 992 dan 1199 gacha */
@media (max-width: 1199px) {}

/* 768 dan 991 gacha */
@media (max-width: 991px) {}

/* 576 dan 767 gacha */
@media (max-width: 767px) {}

/* 0 dan 575 gacha */
@media (max-width: 575px) {


    .section__img-our{
        width: 100%;
    }
    section .section__carb .sec__paket {
        padding-bottom: 43px;
    }
    .section__carb{
        text-align: center;
    }
}


